:root{
    --accent-color:#2196F3;
    --primary-text-dark-color: #212121;
    --secondary-text-dark-color:#757575;
    --text-light-color:#FFFFFF;
    --logo-text-color:#000000;
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --modal-btn-background-color:#2196F3;
    --logo-web-color:#2196F3;
    --team-background-color:#F5F4FA;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --portfolio-project-background-color:#EEEEEE;
    --portfolio-btn-background-color:#F5F4FA;
    --hero-color:#FFFFFF;
    --modal-btn-border-color:#2196F3;
    --header-border-color:#ECECEC;
    --team-card-background-color:#FFFFFF;
    --team-card-border-color:#FFFFFF;
    --portfolio-box-border-color:#EEEEEE;
    --hero-line-gradient:rgba(47, 48, 58, 0.4);
    --team-box-shadow:rgba(0, 0, 0, 0.25);
    --portfolio-card-hover-shadow:rgba(0, 0, 0, 0.25);
    --portfoio-btn-shadow:rgba(0, 0, 0, 0.25);
    --hero-background-shadow:rgba(0, 0, 0, 0.25);
    --hero-background-color:#C4C4C4;
    --header-icon-color:#757575;
    --svg-background-color:#F5F4FA;
    --team-social-color:#AFB1B8;
    --team-social-color-hover-focus:#FFFFFF;
    --client-logo-color:#AFB1B8;
    --client-logo-border-color:#AFB1B8;
    --footer-social-background-color:#44454E;
    --footer-social-icon-color:#FFFFFF;
    --overlay-background-color:rgba(33, 150, 243, 0.9);
    --transition-duration:250ms;
    --transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-background-color:rgba(0, 0, 0, 0.2);
    --modal-background-color:#FFFFFF;
    --modal-close-btn-border-color:rgba(0, 0, 0, 0.1);
    --modal-close-btn-shadow-first-color:rgba(0, 0, 0, 0.12);
    --modal-close-btn-shadow-second-color:rgba(0, 0, 0, 0.14);
    --modal-close-btn-shadow-third-color:rgba(0, 0, 0, 0.2);
    --features-text-backdrop-background-color:rgba(47, 48, 58, 0.8);
    --modal-form-input-border-color:rgba(33, 33, 33, 0.2);
    --modal-message-placeholder-color:rgba(117, 117, 117, 0.5);
    --modal-fill-icon-use:#FFFFFF;
    --modal-icon-border-color:#212121;
    --modal-btn-shadow-color:rgba(0, 0, 0, 0.25);
    --footer-btn-submit-background-color:#2196F3;
    --footer-btn-submit-border-color:#2196F3;
    --footer-icon-send-fill-color:#FFFFFF;
    --footer-input-background-color:#2F303A;
    --footer-input-border-color:rgba(255, 255, 255, 0.3);
    --footer-input-placeholder-color:rgba(255, 255, 255, 0.6);

}
h1,
h2,
h3,
h4,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.link{text-decoration: none;}
.list{list-style: none;}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 94px 0;
}



img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}

body {
    font-family: var(--primary-font);
    color:var(--primary-text-dark-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);

}
.header-flex{
    align-items: center;
    display: flex;
    
}
.header{
    border-bottom: solid 1px var(--header-border-color) ;

}

.header-logo{
    margin-right: 93px;
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--logo-text-color);
    
}
.logo-web{color:var(--logo-web-color) ; }
.nav{
    display: flex;
    align-items: center;
    
}
.menu{ 
    display: flex;
    align-items:center;
    column-gap: 50px ;
    
    
}
.menu-item{ 
   
    
    
}

.menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   color: var(--primary-text-dark-color);
   transition: color var(--transition-duration) var(--transition-timing-function) ;
    position: relative;
    padding: 32px 0;
    display: block;
    }
    .menu-link:hover::after,
    .menu-link:focus::after{
        width: 100%;
        border-radius: 2px;
        height: 4px;
        position: absolute;
        content: "";
        background-color: var(--accent-color);
        opacity: 0;
        transition: opacity var(--transition-duration) var(--transition-timing-function);
        left: 0;
        bottom:0;
      
    }
    .menu-link:hover::after,
    .menu-link:focus::after{
        opacity: 1;
        }
.current::after {   
     position: absolute;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    left: 0;
    bottom:0;
  
    
 

}


.menu-link:hover,
.menu-link:focus
{
    color:var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}
.contact{ 
    display:flex;
    column-gap:50px;
    margin-left: auto;
}
.header-email{

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-dark-color);
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color var(--transition-duration) var(--transition-timing-function) ;

}
.icon-email{ 
    width:16px ; height: 12px;
fill: var(--header-icon-color);
transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header-phone-number{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-dark-color);
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: color var(--transition-duration)  var(--transition-timing-function);


}
.icon-phone{
    fill: var(--header-icon-color);
     width: 10px; height: 16px;
     transition: fill var(--transition-duration) var(--transition-timing-function);

    }

.header-email:hover,
.header-email:focus,
.header-phone-number:hover,    
.header-phone-number:focus{
color:var(--accent-color);

}
.header-email:hover .icon-email,
.header-email:focus .icon-email,
.header-phone-number:focus .icon-phone,
.header-phone-number:hover .icon-phone{
    fill: var(--accent-color);
}
/*=======/header======*/

.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color:var(--hero-background-color) ;
    background-image:linear-gradient(var(--hero-line-gradient),var(--hero-line-gradient)), 
    url(../images/hero/img.jpg) ;
    background-size: cover;
    padding-top: 200px ;
    padding-bottom: 200px;
    box-shadow:0 4px 4px 0 var(--hero-background-shadow) ;
    
}


    

.hero-title{
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
    margin-bottom: 30px;
    }
.modal_open_btn{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--modal-btn-border-color);
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--modal-btn-background-color);
    color: var(--text-light-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function) ;
  
}
.modal_open_btn:hover,
.modal_open_btn:focus{
    background-color: var(--accent-color);
    color:var(--text-light-color);
}
/*====/hero====*/
.desc{
    padding-top:86px;

}
.desc-title-hidden{
    visibility: hidden;
    width: 0;
    height: 0;}
    


    .desc-flex{      
    column-gap: 30px ;
    display: flex;
   flex-wrap: wrap;
    }
    .desc-icon{
        width: 70px;
        height: 70px;
    }
    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: var(--svg-background-color);
    margin-bottom: 30px;}
    .desc-list-item{
        max-width: 270px;
        flex-basis: calc((100%-30px) / 4);
        
    }
    .desc-card-down{
    
    }
.desc-subtitle{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.desc-text{
    line-height: 1.72;
    color: var(--secondary-text-dark-color);}
    /*===/desc===*/
.features{  padding-top: 0;
}
.features-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.features-flex{
    display: flex;
    column-gap: 30px;
}
.features-img{}
.features-img-box{
    position: relative;

}
.features-text-backdrop{
    background-color:var(--features-text-backdrop-background-color);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

}
.features-text{
    font-weight: 700;
    line-height: 1.14;
display:flex ;
height: 70px;
align-items: center;
justify-content: center;
    text-transform: uppercase;
    color: var(--text-light-color);
   
    }

/*===/features===*/
.team{
    background-color: var(--team-background-color);

}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

}
.team-social-list{
    display: flex;
    column-gap: 10px;
    justify-content: center;
  


}
.social-link-team{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius:50%;
    background-color: #fff;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    
}
.social-link-team:hover,
.social-link-team:focus{ 
    background-color: var(--accent-color);
}
.social-link-team:hover .social-icon,
.social-link-team:focus .social-icon{
    fill: var(--team-social-color-hover-focus );

}
.social-icon{
    width: 20px;
    height:20px ;
    fill: var(--team-social-color);
    transition:fill var(--transition-duration) var(--transition-timing-function);

}
    .team-one-persone{
        box-shadow: 0 4px 4px 0 var(--team-box-shadow);
        border-bottom-left-radius: 4px ;
        border-bottom-right-radius: 4px ;
        background-color: var(--team-card-background-color);
        max-width: 270px;
        flex-basis: calc((100%-30)/4);
    }
  

.team-img{
    

}
.team-card-down{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-subtitle{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-dark-color);
    margin-bottom: 16px;
  
 }
    
    /*===/team===*/
.client{}
.client-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom:50px ;
}
.client-list{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.icon-logo{
    width:106px ;
    height:60px ;
    fill: var(--client-logo-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.client-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: solid 1px var(--client-logo-border-color);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.client-link:hover,
.client-link:focus{
    border: solid 1px var(--accent-color);
}
.client-link:hover .icon-logo,
.client-link:focus .icon-logo{
    fill: var(--accent-color);
}

/* ==========/client=========== */


.footer{
    background-color: var(--secondary-background-color);
    padding: 60px 0;
}
.footer-flex{
    display: flex;
    align-items: baseline;
    
}
.logo-addres{
    margin-right: 68px;
}
.footer-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    color:var(--text-light-color);
    display: block;}
.address{font-style: normal;
}
.item-location{
    margin-bottom: 9px;
}
.location{
    font-weight: 400;
    line-height: 1.72;
    color: var(--text-light-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    }
    .item-phone-number{
        margin-bottom: 9px;
    }
.footer-phone-number{
    font-weight: 400;
    line-height: 1.72;
    color: var(--footer-contact-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer-email{
    font-weight: 400;
    line-height: 1.72;
    color: var(--footer-contact-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    }
    
.location:hover,
.location:focus,
.footer-phone-number:hover,
.footer-phone-number:focus,
.footer-email:hover,
.footer-email:focus{
    color:var(--accent-color)
    }
    .footer-social{
        margin-right: auto;

    }
    .footer-text {
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
    color: var(--text-light-color);
    margin-bottom: 20px;}
    .footer-social-list{
        display: flex;
        column-gap: 10px;
        
    }
    .footer-social-link{
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: var(--footer-social-background-color);
        transition: background-color var(--transition-duration) var(--transition-timing-function) ;
    }
    .footer-social-icon{
        fill: var(--footer-social-icon-color);
        width:20px ;
    height: 20px;}
    .footer-social-link:hover,
    .footer-social-link:focus{
        background-color: var(--accent-color);
    }
    .footer-box-form{
        margin-left: auto;
    }
    .footer-form{
        display: flex;
        column-gap: 12px;

    }
    .footer-form-text{
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--text-light-color);
        margin-bottom: 20px;
    }
    .footer-input{
    color: var(--text-light-color);
        padding: 15px 16px ;
        width: 358px;
        border: 1px solid var(--footer-input-border-color);
        background-color:var(--footer-input-background-color) ;
        border-radius: 4px;
    
    }
    .footer-input::placeholder{
        font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-input-placeholder-color);
    }
    .footer-form-btn{
        padding: 10px 28px;
        display: flex;
        text-align: center;
        align-items: center;
        column-gap: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--text-light-color);
        background-color: var(--footer-btn-submit-background-color);
        border:1px solid var(--footer-btn-submit-border-color);
        border-radius: 4px;
    }
    .icon-send{
        fill:var(--footer-icon-send-fill-color);
        display: block;
    }

    

    /*===/footer===*/
 /*--/studio--*/
/*--portfolio--*/
.portfolio-main-section{

}
.portfolio-title-hidden{visibility: hidden;
width: 0;
height: 0;}
.portfolio-btn-flex{
    display: flex;

    column-gap: 8px; 
   justify-content: center;
   margin-bottom: 50px;

}
.portfolio-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color:var(--portfolio-btn-background-color) ;
    border: solid 0  ;
    border-radius: 4px;
   padding: 6px 22px;
   transition: color var(--transition-duration) var(--transition-timing-function),
   background-color var(--transition-duration) var(--transition-timing-function),
   box-shadow var(--transition-duration) var(--transition-timing-function);



}
.portfolio-first-btn{
    padding: 6px 25px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: var(--accent-color);
    color: var(--text-light-color);
    box-shadow: 0 4px 4px 0 var(--portfoio-btn-shadow);
    
}
.portfolio-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-project-box{
    max-width: 370px;
    flex-basis: calc((100%-30)/3);}
    .box-link{
        display: block;
        transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    }

.box-link:hover,
.box-link:focus
{ 
    box-shadow: 0 4px 4px 0 var(--portfolio-card-hover-shadow);}


.portfolio-card-down{
    border-left:solid 1px var(--portfolio-box-border-color) ;
    border-right:solid 1px var(--portfolio-box-border-color) ;
    border-bottom:solid 1px var(--portfolio-box-border-color) ;
    padding: 20px 24px;
  
}
.portfolio-img-wrapper{
    overflow: hidden;
    position: relative;
}
.portfolio-img{}
.box-link:focus .overlay{
    transform: translateY(0);
}
.box-link:hover .overlay{
    transform: translateY(0);
}
.overlay{
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-light-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--overlay-background-color);
    padding: 63px 24px;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function) ;
    }
.portfolio-subtitle{
    color: var(--primary-text-dark-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    

    
    }
.portfolio-text{
    color: var(--secondary-text-dark-color);
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-dark-color);

    


    }

/* =================modal ===================*/
.backdrop{
    left: 0;
    top:0;
    background-color:var(--backdrop-background-color);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal{
    width:528px ;
    height:580px ;
    background-color: var(--modal-background-color);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 40px;
}
.modal-close-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    border:solid 1px var(--modal-close-btn-border-color) ;
    box-shadow:  0px 1px 3px var(--modal-close-btn-shadow-first-color),
      0px 1px 1px var(--modal-close-btn-shadow-second-color),
      0px 2px 1px var(--modal-close-btn-shadow-third-color);
}
.modal-close-icon{
    width: 18px;
    height: 18px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    fill:var(--accent-color);
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
 

}
.modal-form-field{}

.modal-form-input{
   
    width: 100%;
    height: 40px;
    border:1px solid var(--modal-form-input-border-color);
    border-radius: 4px;
    padding-left:42px ;
    transition:border-color var(--transition-duration) var(--transition-timing-function) ;
}
.modal-form-input:focus{
    border-color:var(--accent-color) ;
    outline: none;
}
.modal-form-field-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-dark-color);
    display: block;
    margin-bottom: 4px;
}

.modal-wrapper-user{
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-icon-user{
    position: absolute;
    top:50%;
    left:12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition:fill var(--transition-duration) var(--transition-timing-function) ;
}
.modal-form-input:focus + .modal-icon-user{
    fill: var(--accent-color);
}
.modal-form-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}
.modal-form-policy-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    color: var(--secondary-text-dark-color);
}
.policy-link{
    color: var(--accent-color);
    text-decoration-line: underline;

}

.modal-form-message{
    margin-bottom: 20px;
    width: 100%;
    height:120px ;
    border-radius:4px ;
    border:1px solid var(--modal-form-input-border-color);
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form-message::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--modal-message-placeholder-color);

}
.modal-form-message:focus{
    
    border-color: var(--accent-color);
    outline: none;
}

.modal-form-policy{
    appearance: none;
    position: absolute;
}
.modal-checkbox-icon{
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--modal-icon-border-color);
    fill: var(--modal-fill-icon-use);
    border-radius: 2px;
 
 
}
.modal-checkbox-icon-use{
    
    display: none;
    
}
.modal-form-policy:checked + .modal-checkbox-icon{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.modal-form-policy:checked + .modal-checkbox-icon .modal-checkbox-icon-use{
    display: block;
}
.modal-form-policy:focus + .modal-checkbox-icon{
    box-shadow: 0 0 0 2px var(--accent-color) ;
}
.modal-btn-submit{
    color: var(--text-light-color);
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color:var(--modal-btn-background-color);
    text-align: center;
    letter-spacing: 0.06em;
    border:1px solid var(--modal-btn-border-color) ;
    border-radius: 4px;
    padding: 10px 52px;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  }
  .modal-btn-submit:hover,
  .modal-btn-submit:focus{
    box-shadow: 0px 4px 4px var(--modal-btn-shadow-color);
  }



