.footer{
    background-color: var(--secondary-background-color);
    padding: 60px 0;
}
.footer-flex{
    display: flex;
    align-items: baseline;
    
}
.logo-addres{
    margin-right: 68px;
}

.address{font-style: normal;
}
.item-location{
    margin-bottom: 9px;
}
.location{
    @include font($fs,400,1.72);
    color: var(--text-light-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus{
        color:var(--accent-color)
        }
    }
    .item-phone-number{
        margin-bottom: 9px;
    }
.footer-phone-number{
    @include font($fs,400,1.72);
    color: var(--footer-contact-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus{
        color:var(--accent-color)
        }
}
.footer-email{
    @include font($fs,400,1.72);
    color: var(--footer-contact-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus{
    color:var(--accent-color)
    }
    }
    
.footer-social{
        margin-right: auto;

    }
.footer-text {
    @include font($fs,700,1.14);
        text-transform: uppercase;
    color: var(--text-light-color);
    margin-bottom: 20px;}
.footer-social-list{
        display: flex;
        column-gap: 10px;
        
    }
.footer-social-link{
        @extend %align;
        width: 44px;
        height: 44px;
        border-radius: 50%;
      
        background-color: var(--footer-social-background-color);
        transition: background-color var(--transition-duration) var(--transition-timing-function) ;
        &:hover,
        &:focus{
        background-color: var(--accent-color);
    }
    }
.footer-social-icon{
        fill: var(--footer-social-icon-color);
        width:20px ;
    height: 20px;}

    .footer-box-form{
        margin-left: auto;
    }
    .footer-form{
        display: flex;
        column-gap: 12px;

    }
    .footer-form-text{
        @include font($fs,700,1.14);
        text-transform: uppercase;
        color: var(--text-light-color);
        margin-bottom: 20px;
    }
    .footer-input{
    color: var(--text-light-color);
        padding: 15px 16px ;
        width: 358px;
        border: 1px solid var(--footer-input-border-color);
        background-color:var(--footer-input-background-color) ;
        border-radius: 4px;
        &::placeholder{
            @include font(16px,400,1.25,$ls);
        color: var(--footer-input-placeholder-color);
        }
    }
    
    .footer-form-btn{
        padding: 10px 28px;
       @extend %align;
        column-gap: 10px;
        @include font(16px,700,1.88,0.06em);
        color: var(--text-light-color);
        background-color: var(--footer-btn-submit-background-color);
        border:1px solid var(--footer-btn-submit-border-color);
        border-radius: 4px;
    }
    .icon-send{
        fill:var(--footer-icon-send-fill-color);
        display: block;
    }