.header-flex{
    align-items: center;
    display: flex;
}
.page-header{
    border-bottom: solid 1px var(--header-border-color) ;
}
.page-navigation{
    display: flex;
    align-items: center; 
}
.menu{ 
    display: flex;
    align-items:center;
    column-gap: 50px ; 
}
.menu__link {
    @include font($fs,500,1.14,0.02em);
   color: var(--primary-text-dark-color);
   transition: color var(--transition-duration) var(--transition-timing-function) ;
    position: relative;
    padding: 32px 0;
    display: block;
    &:hover,
    &:focus
{
    color:var(--accent-color);
}
    &:hover::after,
    &:focus::after{
        width: 100%;
        border-radius: 2px;
        height: 4px;
        position: absolute;
        content: "";
        background-color: var(--accent-color);
        opacity: 0;
        transition: opacity var(--transition-duration) var(--transition-timing-function);
        left: 0;
        bottom:0;
        opacity: 1;
    }
    }
.current::after {   
     position: absolute;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    left: 0;
    bottom:0;
}
.link.current {
    color: var(--accent-color);
}
.contact{ 
    display:flex;
    column-gap:50px;
    margin-left: auto;
}
.header-email{
    @include font($fs,500,1.14,0.02em);
    color: var(--secondary-text-dark-color);
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color var(--transition-duration) var(--transition-timing-function) ;
    &:hover,
    &:focus{
    color:var(--accent-color);
    }
}
.icon-email{ 
    width:16px ; height: 12px;
fill: var(--header-icon-color);
transition: fill var(--transition-duration) var(--transition-timing-function);
.header-email:hover &,
.header-email:focus &{
    fill: var(--accent-color);
}
}
.header-phone-number{
    @include font($fs,500,1.14,0.02em);
    color:var(--secondary-text-dark-color);
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: color var(--transition-duration)  var(--transition-timing-function);
    &:hover,    
    &:focus{
    color:var(--accent-color);
    }
}
.icon-phone{
    fill: var(--header-icon-color);
     width: 10px; height: 16px;
     transition: fill var(--transition-duration) var(--transition-timing-function);
     .header-phone-number:focus &,
     .header-phone-number:hover &{
     fill: var(--accent-color);
 }
    }