.header-logo{
    margin-right: 93px;
    
    font-family: var(--secondary-font);
    @include font(26px,700,1.19);
    color:var(--logo-text-color);
    
}
.header-logo__web{color:var(--logo-web-color) ; }
.footer-logo{
    font-family: var(--secondary-font);
    @include font(26px,700,1.19);
    margin-bottom: 20px;
    color:var(--text-light-color);
    display: block;}